* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f4f6;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  color: #1e3a8a;
}

.balance-card {
  background: #1e3a8a;
  color: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
}

#balance-card-btn button{
    margin: 4px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.deposit{
    color:green;
}

.withdraw{
    color:red;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.transactions {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}
.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.amount-filed {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.amount-filed:focus {
  border-color: #2563eb;
}

.transaction-type-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.transaction-type-div label {
  font-weight: 600;
  color: #374151;
  display: flex;
  align-self: center;
}

.transaction-type-div input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 4px;
}

.submit-btn {
  width: fit-content;
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #1d4ed8;
}